.sobre-mim,
h1 {
  font-family: Varela Round, sans-serif;
}

body {
  background-color: #ffcdb2;
}

.cidade-estado {
  color: #6d6875;
}

.dev {
  color: #6d6875;
}

.programaçao {
  color: #6d6875;
}

.relacionamento {
  font-size: 25px;
}

.organizaçao {
  font-size: 21px;
}

.persistencia {
  font-size: 17px;
}

.comprometimento {
  font-size: 13px;
}

.minha-selfie {
  float: left;
  border: 1px solid black;
  padding: 10px;
  background-color: #6d6875;
}

.image-block {
  height: 290px;
}

.sobre-mim {
  text-align: center;
  padding: 100px 20px;
}

h1,
h3 {
  text-align: center;
}

ol li:nth-child(odd) {
  background-color: #6d6875;
  border: 1px solid black;
}

ul {
  margin-top: 20px;
  padding: 10px 600px;
}